<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span><h4 class="modal-title text-center"><%= image_tag "star.png", class: "img-fluid win-header" %>   Winner!   <%= image_tag "star.png", class: "img-fluid win-header" %></h4></span>
      </div>
      <div class="modal-body">
        <p class="text-center lead">Well done! Enter the draw to win 1 of 3 ASUS + Coder Factory prize packs.</p>
        <%= render 'entries/form' %>
      </div>
    </div>
  </div>
</div>
