<div id="myModal2" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">Oops!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center lead">Looks like you made a mistake.<br> It may have been an illegal move, or you might have spelt an instruction incorrectly.<br> Try again?</p>
      <button class="bnt btn-warning lead btn-block" id="modal-restart-btn">Try Again</button>
      <button class="bnt btn-danger lead btn-block" id="modal-reset-btn">Reset</button>
      </div>
    </div>
  </div>
</div>
