
<div id="tc_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title text-center">CODE & WIN</h2>
        <h4 class="modal-title text-center">TERMS AND CONDITIONS</h4>
      </div>
      <div class="modal-body">

        <ol>
          <li>Information on how to enter and the prizes form part of these Terms and Conditions. Participation in this promotion is deemed acceptance of these Terms and Conditions.</li>
          <br>
          <li>Entry is only open to Australian residents aged 18 years or over who: (a) are employed as an educator (for example a primary, secondary, university teacher or an employee within a tertiary education or within a workplace learning environment); (b) attend the 2016 EduTech International Congress & Expo (“Expo”) held at the Brisbane Convention and Exhibition Centre between 30/05/2016 and 31/05/2016; and (c) have permission from their workplace to enter this promotion and take the prize if they aredrawn as a winner (“Eligible Entrants”). Employees (and their immediate families) of the Promoter and agencies associated with this promotion are ineligible to enter. Immediate family means any of the following: spouse, ex-spouse, de-facto spouse, child or step-child (whether natural or by adoption), parent, step-parent, grandparent, step-grandparent, uncle, aunt, niece, nephew, brother, sister, step-brother, step-sister or 1st cousin.</li>
          <br>
          <li>Promotion commences on 30/05/2016 and final entries close at 3:00pm QLD local time on 31/05/2016 (“Promotional Period”).</li>
          <br>
          <li>To be eligible to enter, Eligible Entrants must visit an ASUS representative at the ASUS Stand (Stand 43) at the Expo and undertake the following steps during the Promotional Period:
          <br>
            <ul>
              <li>Play the ASUS code game via the ASUS devices at the stand and in accordance with the ASUS representative’s instructions;</li>
              <li> Once game is complete, follow the prompts to the competition entry page and input the requested personal details; and</li>
              <li>Submit the fully completed entry form.</li>
            </ul>
          </li>
          <br>
         <li>The Promoter reserves the right, at any time, to verify the validity of entries and Eligible Entrants (including an Eligible Entrant’s identity, age and place of residence) and reserves the right, in its sole discretion, to disqualify any individual who the Promoter has reason to believe has breached any of these Terms and Conditions, tampered with the entry process or engaged in any unlawful or other improper misconduct calculated to jeopardise fair and proper conduct of the promotion. Errors and omissions may be accepted at the Promoter's discretion. Failure by the Promoter to enforce any of its rights at any stage does not constitute a waiver of those rights. The Promoter's legal rights to recover damages or other compensation from such an offender are reserved.</li>
          <br>
         <li>Incomplete or illegible entries will be deemed invalid.</li>
          <br>
         <li>Only one (1) entry is permitted per person.</li>
          <br>
         <li>If there is a dispute as to the identity of an Eligible Entrant, the Promoter reserves the right, in its sole discretion, to determine the identity of the Eligible Entrant.</li>
          <br>
         <li>The draw will take place at ASUS Stand 43 at the EduTECH 2016 International Congress on 31/05/2016 at 3:15pm AEST. The winner will be notified immediately by phone and by email and can pick up their prize at Stand 43.</li>
          <br>
         <li>The Promoter’s decision is final and no correspondence will be entered into.</li>
          <br>
         <li>The first three (3) valid entries drawn will each win a ‘Coding Workshop Package’ valued at $8,000. Each Coding Workshop Package includes:
          <br>
           <ul>
             <li>One (1)  ASUS TP200 Transformer Notebook; and</li>
             <li>A two (2) day coding workshop, provided by Coder Factory Academy to be held at the winner’s place of employment. Each day of the work shop will include:
          <br>
               <ul>
                 <li>Day 1: Coding and the Digital Curriculum (7 hours) for the winner and up to 20 colleagues of their choosing:</li>
                 Software creation process
                 Emerging technology trends
                 Digital Curriculum Application
                 Cross Curriculum activities
                 <li>Day 2: Hands on Coding (7 hours) for the winner and up to 20 students of their choosing:</li>
                 Software tools and libraries
                 Web design basics
                 Programming fundamentals
                 Databases
                 Application design
                 Building a web application
               </ul>
             </li>
          <br>
           </ul>
         </li>
          <br>

         <li>To take the prize, winners must confirm that their employer permits them to take the prize. The Promoter takes no responsibility if a winner’s employer will not permit the Eligible Entrant to take the prize, and the winner will not receive the prize or cash in lieu of the prize if this occurs, and the entire prize will be forfeited. The Promoter, in agreement with the winner, will determine the exact date of the workshop but in the event that agreement cannot be reached, the Promoter reserves the right to determine the exact date. All workshops must be taken by 31st December, 2016.</li>
          <br>

         <li>If a prize is unavailable, the Promoter, in its discretion, reserves the right to substitute the prize with a prize to the equal value and/or specification, subject to any written directions from a regulatory authority.</li>
          <br>

         <li>Subject to the unclaimed prize draw clause, if for any reason a winner does not redeem a prize (or an element of the prize) by the time stipulated by the Promoter, then the prize (or that element of the prize) will be forfeited.</li>
          <br>

         <li>Total prize pool value is $24,000. Prizes, or any unused portion of a prize, are not transferable or exchangeable and cannot be taken as cash.</li>
          <br>

         <li>A draw for any unclaimed prize(s) may take place on 05/09/2016 at the same time and place as the original draw, subject to any directions from a regulatory authority. Winner(s) (if any) will be notified in writing within two (2) business days of the draw.</li>
          <br>

         <li>Eligible Entrants consent to the Promoter using their name, likeness, image and/or voice in the event they are a winner (including photograph, film and/or recording of the same) in any media for an unlimited period without remuneration for the purpose of promoting this promotion (including any outcome), and promoting any products manufactured, distributed and/or supplied by the Promoter.</li>
          <br>

          <li>If this promotion is interfered with in any way or is not capable of being conducted as reasonably anticipated due to any reason beyond the reasonable control of the Promoter, including but not limited to technical difficulties, unauthorised intervention or fraud, the Promoter reserves the right, in its sole discretion, to the fullest extent permitted by law: (a) to disqualify any Eligible Entrant; or (b) subject to the approval of the relevant regulatory authorities, to modify, suspend, terminate or cancel the promotion, as appropriate.</li>
          <br>

          <li>Nothing in these Terms and Conditions limits, excludes or modifies or purports to limit, exclude or modify the statutory consumer guarantees as provided under the Competition and Consumer Act, as well as any other implied warranties under the ASIC Act or similar consumer protection laws in the States and Territories of Australia (“Non-Excludable Guarantees”). Except for any liability that cannot by law be excluded, including the Non-Excludable Guarantees, the Promoter (including its respective officers, employees and agents) excludes all liability (including negligence), for any personal injury; or any loss or damage (including loss of opportunity); whether direct, indirect, special or consequential, arising in any way out of the promotion.</li>
          <br>

          <li>Except for any liability that cannot by law be excluded, including the Non-Excludable Guarantees, the Promoter (including its respective officers, employees and agents) is not responsible for and excludes all liability (including negligence), for any personal injury; or any loss or damage (including loss of opportunity); whether direct, indirect, special or consequential, arising in any way out of: (a) any technical difficulties or equipment malfunction (whether or not under the Promoter’s control); (b) any theft, unauthorised access or third party interference; (c) any entry or prize claim that is late, lost, altered, damaged or misdirected (whether or not after their receipt by the Promoter) due to any reason beyond the reasonable control of the Promoter; (d) any variation in prize value to that stated in these Terms and Conditions; (e) if the Expo event is delayed, postponed or cancelled for any reason beyond the reasonable control of the Promoter; (f) any tax liability incurred by a winner or Eligible Entrant; or (g) use of a prize.</li>
          <br>

          <li>The Promoter collects personal information ("PI") in order to conduct the promotion and may, for this purpose, disclose such PI to third parties, including but not limited to agents, contractors, service providers, prize suppliers and as required to Australian regulatory authorities. Entry is conditional on providing this PI. The Promoter will also use and handle PI as set out in its Privacy Policy, which can be viewed at https://www.asus.com/au/Terms_of_Use_Notice_Privacy_Policy/Privacy_Policy. In addition to any use that may be outlined in the Promoter’s Privacy Policy, the Promoter may, for an indefinite period, unless otherwise advised, use the PI for promotional, marketing, publicity, research and profiling purposes, including sending electronic messages or telephoning the Eligible Entrant.  The Privacy Policy also contains information about how Eligible Entrants may opt out, access, update or correct their PI, how Eligible Entrants may complain about a breach of the Australian Privacy Principles or any other applicable law and how those complaints will be dealt with. All entries become the property of the Promoter. The Promoter will not disclose Eligible Entrants’ personal information to any entity outside of Australia.</li>
          <br>

          <li>The Promoter is ASUS Australia Pty Ltd  (ABN 81 148 073 858) of Suite 2.01, Level 2, 6-10 Talavera Road, Macquarie Park, NSW 2113.</li>
        </ol>
        <br>
        <button onclick="closeModal()" class="bnt btn-default lead btn-block" id="modal-reset-btn">Close</button>
      </div>
    </div>
  </div>
</div>
